<template>
     <div class="container-fluid px-4">
      <h1 class="mt-4">ข้อมูลแผนก</h1>
      <div class="row">

           <div class="col-xl-3 col-md-6">

           </div>

      </div>
    </div>
</template>

<script>
export default {
    name: "DepartmentIndex"
}
</script>

<style>

</style>
