<template>
  <h1>Contact Page</h1>
</template>

<script>
import { ref, onMounted } from "vue";
export default {
  name: "Contact",
  setup() {
    const ss = ref("");
    console.log(ss);

    onMounted(() => {
      ss.value = 555;
      console.log(ss);
    });

    console.log(ss);
    return { ss };
  },
};
</script>

<style>
</style>
