<template>
  <h1>Departments</h1>

  <p>
    <router-link to="/departments/create" class="btn btn-success"
      >+ Create</router-link
    >
  </p>
  <p>Result Data {{ pagination.to }}/{{ pagination.total }}</p>

  <div class="spinner-border" role="status" v-if="loading">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table class="table">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Action</th>
    </tr>
    <tr v-for="(dep, key) in departments" :key="dep.id">
      <td scope="row">{{ pagination.from + key }}</td>
      <td>
        <router-link to="/departments/$dep.id">{{ dep.title }} </router-link>
      </td>
      <td>{{ dep.created_at }}</td>
      <td>
        <router-link
          :to="{ name: 'DepartmentUpdate', params: { id: dep.id } }"
          class="btn btn-primary btn-sm"
          ><i class="fas fa-pencil-alt"></i>
        </router-link>

        <!-- <button :click="deleteDepartmentById({dep.id})">delete</button> -->
      </td>
    </tr>
  </table>

  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>

      <li class="page-item" v-for="(link, key) in pagination.links" :key="key">
        <router-link
          :to="{ name: `Departments?page=${key}`, params: { page: key } }"
          class="page-link"
          >{{ key + 1 }}</router-link
        >
      </li>

      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
  <div v-if="totalPage">
    <v-pagination
      v-model="page"
      :pages="totalPage"
      :range-size="pageSize"
      :length="length"
      active-color="#DCEDFF"
      @update:modelValue="getData"
    />
  </div>
</template>

<script>
import axios from "axios";
import { ref, onMounted } from "vue";
import { BASE_API_URL } from "../../constants/index";
import VPagination from "@hennge/vue3-pagination";
//import moment from "moment";
export default {
  name: "DepartmentsIndex",
  components: {
    VPagination,
  },
  setup() {
    const loading = ref(false);
    const departments = ref([]);
    const pagination = ref([
      {
        total: 0,
        last_page: 0,
        per_page: 0,
      },
    ]);
    const page = ref(1);
    const totalPage = ref(0);
    const pageSize = ref(3);
    const length = ref(0);

    const deleteDepartmentById = async (id) => {
      const isConfirm = window.confirm("แน่ใจว่าจะลบ?");
      if (isConfirm === true) {
        const response = await axios.delete(
          `${BASE_API_URL}/departments/${id.value}`,
          {
            title: title.value,
          }
        );
        alert(response.data.message);
        history.go(0);
      }
    };

    const getData = async () => {
      try {
        loading.value = false;
        const response = await axios.get(
          `${BASE_API_URL}/departments?page=${page.value}&page_size=${pageSize.value}`
        );
        let res = response.data;
        console.log(res.data);
        if (res.data) departments.value = res.data;

        res.data = null;
        pagination.value = res;
        page.value = res.current_page;
        totalPage.value = res.last_page;
        //length.value = res.to;
        console.log(pagination.value);
      } catch (error) {
      } finally {
        loading.value = true;
      }
    };

    onMounted(() => {
      getData();
    });

    return {
      departments,
      pagination,
      deleteDepartmentById,
      page,
      totalPage,
      pageSize,
      getData,
    };
  },
};
</script>

<style>
</style>
