<template>
  <div class="container-fluid px-4">
    <h4>Create Department</h4>

    <div class="row">
      <div class="col-xl-3 col-md-6">
        <form @submit.prevent="onSubmit">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ชื่อแผนก</label>
            <input
              type="text"
              class="form-control"
              id="title"
              v-model="title"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
              {{ title }}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { ref, onMounted } from "vue";
import { BASE_API_URL } from "../../constants/index";
import { useRouter, useRoute } from "vue-router";
//import moment from "moment";
export default {
  name: "DepartmentUpdate",
  setup() {
    const title = ref("");
    const router = useRouter();
    const route = useRoute();
    const id = ref(0);

    const getDataById = async () => {
      id.value = route.params.id;

      const response = await axios.get(
        `${BASE_API_URL}/departments/${id.value}`
      );
      title.value = response.data.data.title;
    };

    onMounted(() => {
      getDataById();
    });

    const onSubmit = async () => {
      const response = await axios.put(`${BASE_API_URL}/departments/${id.value}`, {
        title: title.value,
      });
      alert(response.data.message);
      router.replace("/departments");
    };

    return { title, onSubmit };
  },
};
</script>

<style>
</style>
