<template lang="">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>


           <router-link  to="/"  class="nav-link">Home</router-link>
           <router-link  to="/about"  class="nav-link">About</router-link>

           <div class="sb-sidenav-menu-heading">Data</div>

           
           <router-link  to="/departments"  class="nav-link" linkActiveClass="" >
           <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>    
           Departments
           </router-link>
           <router-link  to="/departments/test"  class="nav-link">Departments/test</router-link>
           
          </div>
        </div>


        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Start Bootstrap
        </div>
      </nav>
    </div>
</template>





<script>
export default {
  name: "SideBar",
};
</script>
<style lang="">
</style>