<template>
  <NavBar />
  <div id="layoutSidenav">
    <SideNav />
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Dashboard</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
          <router-view></router-view>
        </div>
      </main>
      <Footer />
    </div>
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import SideNav from "../components/SideNav.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "DashBoard",
  components: {
    NavBar,
    SideNav,
    Footer,
  },
};
</script>

<style>
</style>
