<template>
  <h1>About Page</h1>

  <table class="table">
    <tr>
      <td><strong>Fullname: </strong></td>
      <td>{{ fullname }}</td>
    </tr>
    <tr>
      <td><strong>Email: </strong></td>
      <td>{{ email }}</td>
    </tr>
    <tr>
      <td><strong>Phone: </strong></td>
      <td>{{ phone }}</td>
    </tr>

    <tr>
      <td>
        <strong>Ref: </strong>
      </td>
      <td>
        <a :href="urlGithub">Github.io</a>
      </td>
    </tr>

    <tr>
      <td>
        <strong>status: </strong>
        <button class="btn btn-info btn-xs" @click="changeStatus">
          Chick Me
        </button>
      </td>
      <td v-if="status">Marry</td>
      <td v-else>-</td>
    </tr>
  </table>
</template>

<script>
import { ref } from "vue";
export default {
  name: "Sale",
  setup() {
    const fullname = ref("Ahamad Jehduaramae");
    const email = ref("ahamad.jedu@gmail.com");
    const phone = ref("083573xxxx");

    const urlGithub = ref("https://firdows.github.io/");

    //v-if
    const status = ref(true);

    function changeStatus() {
      console.log(status);
      status.value = !status.value;
      console.log(status);
      //return stutus = 0);
    }

    return { fullname, email, urlGithub, phone, status, changeStatus };
  },
};
</script>

<style>
</style>
